

			<%= form_for(@story, :url => {:controller => "stories", :action => "create"}) do |f| %>
			  	<%=f.text_field :title, id: "title_field", value: "Title Here"%>
			  	<%=f.text_field :summary, id: "summary_field", value: "Summary Here" %> 		
				<%= f.radio_button(:genre, "fiction") %>
				<%= f.label(:genre_fiction, "fiction") %>
				<%= f.radio_button(:genre, "non-fiction") %>
				<%= f.label(:genre_non_fiction, "non-fiction") %>
	  			<%=f.hidden_field :user_id, :value => session[:id] %>

				<div class="small_spacer"></div>
		  		<div id="truth_container"> Add truth nodes to your story. The order in which you list them is the order they will appear in the story. <p> You can submit up to 5 truth nodes; leave blank if you want fewer. </p>
		  			<div class="small_spacer"></div>
				</div>

				<%= f.fields_for :nodes do |b| %>
					<%= b.label :text, "write a truth scene..." %><br />
					<%= b.text_area :text, :rows => 10, class: "truth_input" %><br />
   				<% end %>

				<!-- <div id="add_truth_node" onclick="add_tn_form()">+</div> -->

	  			<br><%=f.submit "Save", id: "submit_new_story", class: "new_story_button" %>
	  		<% end %>


			<%= form_tag(controller: "stories", action: "index") do %>
			  <%= submit_tag("Cancel", id: "cancel_new_story", class: "new_story_button") %>
			<% end %>
	  		
		<script>
		// var count = 0;
		// 	function add_tn_form() {
		// 		var el = document.getElementById("truth_container");
		// 		el.innerHTML = el.innerHTML + '<textarea class="truth_input" id="truth_"' + count + '>write a truth scene...</textarea><div class="small_spacer"></div>'
		// 		count += 1;
		// 	}

		</script>