
<h1 class="title"> <%= @story.title %> </h1>
<h2 class="summary"> <%= @story.summary %> </h2> 

<div class="break"></div>


<!-- the container for visualization -->
<div class="vis" id="viscontainer" onclick = "createnode(event)">
	<!-- <% for n in @nodes %> -->
		<!-- <div class="node" onclick="selectnode(this, 'rwcontainer', '<%= n.text %>')"> <%=n.id%> </div> -->
	<!-- <%end%> -->
</div>

<!-- the read/write interface; should only be able to edit your own nodes; until have users and logins, no editing allowed, only creating new nodes-->
<div id="rwcontainer">
<!-- 	<div class="read"></div>-->
	<div id="read">
	</div>
	<div id="write">
			<%= form_for(@node, :url => {:controller => "nodes", :action => "save"}) do |f| %>
  			<%= f.text_area(:text, size: '50x10') %>
  			<%=f.hidden_field :source, :value => "some value" %> 			
  			<%=f.hidden_field :target, :value => "some value" %>
  			<%= f.submit "Save" %>
		<% end %>	
	</div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	setup();
	d3visdisplay2(<%=raw @json_data %>);
</script>