
<div> Node Lengths </div>
<div> Average Words per Node: <%= @avg %> </div>
<div> Range of Words per Node:  </div>
<div> <% for l in @len_arr do %>
		<%= l %>,
	<%end%>
</div>

<div class="small_spacer"></div>

<div> Constraint Stats </div>
<% for s in 0..11%>
	<div> Story Num: <%= s + 1%> </div>
	<% for i in 0..4%>
		<div> Constraint Num: <%=i %>, Nodes fulfilling: <%= @story_arr[s][i] %> </div>
	<% end %>
<%end %>
